<html>
	<head>
		<title>Make booking</title>
	</head>
	<body>
		{% if rooms %}
			<form target="result" method="post" novalidate>
				{% csrf_token %}
				<label for="room">room: </label>
				<select name="room">
					{% for r in rooms %}
						<option value="{{r.id}}">{{r}}</option>
					{% endfor %}
				</select>
				<br>

				<label for="check_in_date">check in date: </label>
				<input type="datetime-local" id="check_in_date" name="check_in_date" required>
				<br>
			
				<label for="check_out_date">check out date: </label>
				<input type="datetime-local" id="check_out_date" name="check_out_date" required>
				<br>

				<input type="submit" value="submit">
			</form>
		{% else %}
			{% if created %}
				<a>Booking created.</a>
				<a href="{% url 'index' %}">back</a>
			{% else %}
				<a>Booking not created.</a>
			{% endif %}
		{% endif %}
	</body>
</html>
