<html>
	<head>
		<title>List of booking</title>
	</head>
	<body>
		<form target="result" method="post" novalidate>
			{% csrf_token %}
			<label for="rooms">Choose room:</label>
			<select name="rooms">
				<option value="any">any</option>
				{% if rooms %}
					{% for r in rooms %}
						<option value="{{ r.id }}">{{ r }}</option>
					{% endfor %}
				{% endif %}
			</select>
			<input type="submit" value="submit">
		</form>


		{% if booking %}
			<p>Booking:</p>
			<ul>
			{% for b in booking %}
				<li>{{ b }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No booking in database.</p>
		{% endif %}
	</body>
</html>
