<html>
	<head>
		<title>Hotel admin page</title>
	</head>

	<body>
		<a href="{% url 'room_category' %}">room categories</a>
		<br>
		<a href="{% url 'rooms' %}">rooms</a>
		<br>
		<a href="{% url 'bookings' %}">bookings</a>
		<br>
		<a href="{% url 'create_bookings'%}">create bookings</a>
	</body>
</html>
