<html>
	<head>
		<title>List of rooms</title>
	</head>
	<body>
		<form target="result" method="post" novalidate>
			{% csrf_token %}
			<label for="rooms">Choose room category:</label>
			<select name="rooms">
				<option value="any">any</option>
				{% if categories %}
					{% for c in categories %}
						<option value="{{ c.id }}">{{ c }}</option>
					{% endfor %}
				{% endif %}
			</select>
			<input type="submit" value="submit">
		</form>

		{% if rooms %}
			<p>Rooms:</p>
			<ul>
			{% for r in rooms %}
				<li>{{ r }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No rooms in database.</p>
		{% endif %}
	</body>
</html>
