<html>
	<head>
		<title>List rooms category</title>
	</head>
	<body>
		{% if rooms %}
			<p>Rooms:</p>
			<ul>
			{% for r in rooms %}
				<li>{{ r }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No rooms category in database.</p>
		{% endif %}
	</body>
</html>
