<html>
	<head>
		<title>List of users</title>
	</head>
	<body>
		{% if users %}
			<p>Users:</p>
			<ul>
			{% for u in users %}
				<li>{{ u }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No users in database.</p>
		{% endif %}
	</body>
</html>
