<html>
	<head>
		<title>List of hotels</title>
	</head>
	<body>
		{% if hotels %}
			<p>Hotels:</p>
			<ul>
			{% for h in hotels %}
				<li>{{ h }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No hotels in database.</p>
		{% endif %}
	</body>
</html>
